@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-primary-light: #3B82F6;
  --color-primary-dark: #1E3A8A;
  --color-secondary: #16A34A;
  --color-secondary-light: #4ADE80;
  --color-secondary-dark: #15803D;
}

* {
  box-sizing: border-box;
}